<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>张三</string>
		<key>sex</key>
		<string>男</string>
		<key>icon</key>
		<string>icon0.jpg</string>
		<key>ison</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>李四</string>
		<key>sex</key>
		<string>女</string>
		<key>icon</key>
		<string>icon1.jpg</string>
		<key>ison</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>王五</string>
		<key>sex</key>
		<string>男</string>
		<key>icon</key>
		<string>icon2.jpg</string>
		<key>ison</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>赵六</string>
		<key>sex</key>
		<string>女</string>
		<key>icon</key>
		<string>icon3.jpg</string>
		<key>ison</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>田七</string>
		<key>sex</key>
		<string>男</string>
		<key>icon</key>
		<string>icon4.jpg</string>
		<key>ison</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>宋八</string>
		<key>sex</key>
		<string>女</string>
		<key>icon</key>
		<string>icon5.jpg</string>
		<key>ison</key>
		<false/>
	</dict>
</array>
</plist>
