<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>03-触摸练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCA3D8931C1AC6A900653128</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCA3D8AC1C1AC6A900653128</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCA3D8B71C1AC6A900653128</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
